<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86a0fa">  <td>22/04/21 15:43:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;InvestorRegistrationWebTest.setup()[pri:0, instance:com.investorregmain.InvestorRegistrationWebTest@23f5b5dc]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="86a0fa">  <td>22/04/21 15:43:13</td>   <td>1603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvestorRegistrationWebTest.test001Login()[pri:1, instance:com.investorregmain.InvestorRegistrationWebTest@23f5b5dc]">test001Login</td> 
  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="86a0fa">  <td>22/04/21 15:43:18</td>   <td>5928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvestorRegistrationWebTest.test002PanCard()[pri:2, instance:com.investorregmain.InvestorRegistrationWebTest@23f5b5dc]">test002PanCard</td> 
  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="86a0fa">  <td>22/04/21 15:43:20</td>   <td>8120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvestorRegistrationWebTest.test003Payment()[pri:3, instance:com.investorregmain.InvestorRegistrationWebTest@23f5b5dc]">test003Payment</td> 
  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="86a0fa">  <td>22/04/21 15:43:26</td>   <td>13937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvestorRegistrationWebTest.test004ClickCheckbox()[pri:4, instance:com.investorregmain.InvestorRegistrationWebTest@23f5b5dc]">test004ClickCheckbox</td> 
  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="86a0fa">  <td>22/04/21 15:43:35</td>   <td>23088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvestorRegistrationWebTest.test005LiveKYC()[pri:5, instance:com.investorregmain.InvestorRegistrationWebTest@23f5b5dc]">test005LiveKYC</td> 
  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="86a0fa">  <td>22/04/21 15:43:35</td>   <td>23753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvestorRegistrationWebTest.test006BasicDetails()[pri:6, instance:com.investorregmain.InvestorRegistrationWebTest@23f5b5dc]">test006BasicDetails</td> 
  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="86a0fa">  <td>22/04/21 15:44:02</td>   <td>50205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvestorRegistrationWebTest.test007BankDetails()[pri:7, instance:com.investorregmain.InvestorRegistrationWebTest@23f5b5dc]">test007BankDetails</td> 
  <td>main@988850650</td>   <td></td> </tr>
</table>
